# Ignore dist/ and docs/ folder
# dist/*
# docs/*

# Ignore system-specific and editor-related files
.DS_Store
.vscode/*

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore dependencies
node_modules/

# Ignore runtime/process data
pids/
*.pid
*.seed
*.pid.lock

# Ignore build-related files
build/
build/Release/

# Ignore cache and temporary files
.cache/
tmp/
.undefined/
*.tgz

# Ignore environment variables
.env
.env.test

# Ignore project-specific caches and artifacts
.eslintcache

# Ignore documentation build artifacts
docs/_build/